<div class="container">
  <h1>Welcome</h1>
  <%= react_component("Home") %>
  <br />
  <%= link_to 'Stores', stores_path %>
  <br />

  <%= link_to'Aisles', aisles_path %>
  <br />
  <%= link_to 'Categories', categories_path %>
  <br />
  <%=link_to 'Products', products_path %>
</div>
