<h1>Welcome</h1>
<%= react_component("Home") %> <%= link_to 'Stores', stores_path %> <%= link_to
'Aisles', aisles_path %> <%= link_to 'Categories', categories_path %> <%=
link_to 'Products', products_path %>
