<h1>Hey
</h1>
<%= link_to 'Stores', stores_path %> 
<%= link_to 'Aisles', aisles_path %> 
<%= link_to 'Categories', categories_path %> 
<%= link_to 'Products', products_path %> 
<%= link_to 'Sign In', new_user_path %> 
