<p id="notice"><%= notice %></p>

<p>
  <strong>Products:</strong>
  <%= @shopping_list.products_id %>
</p>

<p>
  <strong>Lists:</strong>
  <%= @shopping_list.lists_id %>
</p>

<%= link_to 'Edit', edit_shopping_list_path(@shopping_list) %> |
<%= link_to 'Back', shopping_lists_path %>
