<p id="notice"><%= notice %></p>

<p>
  <strong>Products:</strong>
  <%= @shopping_list.products_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @shopping_list.user %>
</p>

<p>
  <strong>Listname:</strong>
  <%= @shopping_list.listName %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @shopping_list.budget %>
</p>

<%= link_to 'Edit', edit_shopping_list_path(@shopping_list) %> |
<%= link_to 'Back', shopping_lists_path %>
